.svg-margins {
	margin-top: 5rem;
	margin-left: 15rem;
}

.svg {
	width: 600px;
}

.message-box {
	height: 100%;
	/* margin-top: calc(calc(100% - 200px) / 2); */
	padding-top: 50px;
	color: #636E7E;
	font-family: Roboto;
	font-weight: 300;
}

.contain {
	position: relative;
}

.vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@media screen and (max-width: 992px) {
	.svg-margins {
		margin-top: 1rem;
		margin-left: calc(calc(100% - 400px) / 2);
	}
	.svg {
		width: 400px;
	}
	.contain {
		position: relative;
		height: 200px;
	}
	.vertical-center {
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}
}

body {
	background-color: #FFF;
}

.mmessage-box {
	height: 200px;
	width: 450px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: 50px;
	/* color: #2F3242; */
	color: #636E7E;
	font-family: Roboto;
	font-weight: 300;
}

.message-box h1 {
	font-size: 60px;
	line-height: 46px;
	margin-bottom: 40px;
}

.buttons-con .action-link-wrap {
	margin-top: 40px;
}

.buttons-con .action-link-wrap a {
	background: #0470B8;
	padding: 8px 25px;
	border-radius: 4px;
	color: #FFF;
	font-weight: bold;
	font-size: 14px;
	transition: all 0.3s linear;
	cursor: pointer;
	text-decoration: none;
	margin-right: 10px
}

.buttons-con .action-link-wrap a:hover {
	background: #19B8E2;
	color: #fff;
}

#Polygon-1,
#Polygon-2,
#Polygon-3,
#Polygon-4,
#Polygon-4,
#Polygon-5 {
	animation: float 1s infinite ease-in-out alternate;
}

#Polygon-2 {
	animation-delay: .2s;
}

#Polygon-3 {
	animation-delay: .4s;
}

#Polygon-4 {
	animation-delay: .6s;
}

#Polygon-5 {
	animation-delay: .8s;
}

@keyframes float {
	100% {
		transform: translateY(20px);
	}
}

@media (max-width: 450px) {
	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -250px;
		margin-left: -190px;
	}
	.message-box {
		top: 50%;
		left: 50%;
		margin-top: -100px;
		margin-left: -190px;
		text-align: center;
	}
}
